@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "/src/styles/variables.scss";

@font-face {
  font-family: "tata-regular";
  src: url(../../public/tatafont-reg.otf);
}

:root {
  --vh: 1vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "tata-regular" !important;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $white-0;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

svg {
  display: block;
}
